
.navbar-nav{
	padding-top: 6%!important;
}

#title{
	text-align: center;
	font-size: 350%;
	font-weight: bolder;
	font-family: 'Playpen Sans', cursive!important;
	margin-bottom: 5%!important;
	color: firebrick!important;   
}

ul{
	display: flex;
	flex-direction: row;
	margin-top: 3%!important;
	margin-bottom: 8%!important;
	justify-content: space-between;
}

li{
	list-style: none;
}




.card-container{
   
	display: grid;

	grid-template-columns: repeat(3, 1fr);

	grid-auto-rows: auto;

	grid-gap: 1rem;

}

.card{
	width: 90%;
	margin-left: 1.6%;
    margin-right: 1.6%;
    margin-bottom: 20px;
}

h6{
   color: firebrick!important;   
        
}

.card-image{
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 0.35rem!important;
    border-top-left-radius: 0.35rem!important;
}

.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 150%!important;
    height: 60px;
    margin-top: 2%;
    color: firebrick!important;
    margin-bottom: -1%;
}

.card-text{
    text-align: justify;
    margin-bottom: 30px;
}



.card-button{
    display: flex;
    justify-content: center;
}

.icon{
	border-radius: 2rem;
	width: 11.5%;
	background-color: firebrick!important;
	margin: 1%;
	padding: 2%;
	padding-bottom: 3%;
	padding-left: 3.5%;
	
}

.icon:hover{
	background-color: grey!important;
	border: lightgrey;
}



i{
	color: white;
	text-decoration: none;
	
}


.btn{
    background-color: firebrick!important;
    box-shadow: 0px 0px 8px 0px black;
    border-radius: 15px 15px 0;
    color: white!important;
    margin-left: 5%;
}


