

.ingredient-list-container{
	margin-bottom: 5%;
	width: 55%;
	margin-top: 2%;
}

.column-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 3%;
}

.container-column{
	display: flex;
	margin-left: 5%;
}

.icon {
    border-radius: 1rem;
    width: 6%;
    background-color: firebrick!important;
    margin: -3%;
    margin-right: 2%;
    padding: 1%;
    padding-bottom: 1.3%;
    padding-left: 2.3%;
}


.icon:hover{
	background-color: grey!important;
	border: lightgrey;
}



i{
	color: white;
	text-decoration: none;
	
}



.difficulty-text{
	display:flex;
	margin-left: 2%;
    font-size: 1.9em;
    font-weight: bold;
    color: olivedrab;
}


.difficulty-container{
	width: 40%;
	margin-top: 2%;
	
}



#sottotitolo-descrizione{
	margin-top: -3%;
	font-weight: bold;
	font-size: 2em;
}

#titolo{
	font-family: 'Playpen Sans';
    font-weight: bolder;
    font-size: 350%;
    text-align: center;
  	color: white!important;  
	background-color: rgb(246, 201, 210);
	margin-left: -20px;
	margin-right: -20px;
	padding: 1%; 
}

.sottotitolo{
	font-weight: bold;
	font-size: 2em;
	margin-top: -2%;
	
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    border: 3px solid lightgray;
	border-radius: 1rem;
	padding: 2%;
}

#review-title{
	font-weight: bolder!important;
	width: 100%;
	text-align: center;
	margin-top: 5%;
	color:olivedrab!important;
	margin-bottom: 5%!important;
}



h1{
	font-weight: bolder!important;
	font-size: 250%!important;
	color:olivedrab!important;
	margin-bottom: 5%!important;
}

.input-text{
	background: #eeeff4!important;
  	color: black!important;
  	border-radius: 10pt!important;
  	height: 40px;
  	border-color: gainsboro;
  	margin-bottom: 2%;
	
}

.input-select{
	border-radius: 10pt!important;
  	height: 40px!important;
  	background: #eeeff4!important;
	border-color: gainsboro;
	margin-bottom: 2%!important;
	margin-left: 2%;
	padding: 0.5%;
	text-align: center;
	width: 6%;
}

.btn-container{
	display: flex;
	justify-content: center;
}

#width{
	width: 40%!important;
}

.description{
	background: #eeeff4!important;
  	color: black!important;
  	border-radius: 10pt!important;
  	border-color: gainsboro;
  	margin-bottom: 2%;
	
}



label{
	  margin-bottom: 1%;
}



.btn{
    background-color: olivedrab!important;
    box-shadow: 0px 0px 8px 0px black;
    border-radius: 15px 15px 0;
    color: white!important;
    margin-left: 5%;
}