

.ingredient-list-container{
	margin-bottom: 5%;
	width: 55%;
	margin-top: 2%;
}

.column-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 3%;
}

.container-column{
	display: flex;
	margin-left: 2%;
}


.difficulty-text{
	display:flex;
	margin-left: 2%;
    font-size: 1.9em;
    font-weight: bold;
    color: firebrick;
}


.difficulty-container{
	width: 40%;
	margin-top: 2%;
	
}



#sottotitolo-descrizione{
	margin-top: -3%;
	font-weight: bold;
	font-size: 2em;
}

#titolo{
	font-family: 'Playpen Sans';
    font-weight: bolder;
    font-size: 5em;
    text-align: center;
    color: firebrick;
}

.sottotitolo{
	font-weight: bold;
	font-size: 2em;
	margin-top: -2%;
	
}



.btn{
    background-color: firebrick!important;
    box-shadow: 0px 0px 8px 0px black;
    border-radius: 15px 15px 0;
    color: white!important;
    margin-left: 5%;
}