<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bianco Panna</title>
    <link rel="stylesheet" href="/css/recipe.css" />
    <link rel="stylesheet" href="/css/shared.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/images/logo.png" width="75" height="65" class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="#">Bianco Panna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
		 <ul class="navbar-nav" th:if="${admin}">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/indexAdmin">Home</a>
            </li>
            <li class="nav-item">
				 <a class="nav-link" href="/recipes">Ricette</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/admin/formNewRecipe">Aggiungi Ricetta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/formNewChef">Aggiungi Chef</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        <ul class="navbar-nav" th:unless="${admin}">
            <li class="nav-item active">
                <a class="nav-link" href="/indexLogged">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipes">Ricette</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<body>
	<div class="main-container" th:if="${recipe}">
			<h1 id="titolo" th:text="${recipe.name}">nome ricetta</h1>
			<img th:src="${recipe.image}" style="width: 100%; height: 500px; margin-top:-2%; margin-bottom: 2%;">
			
			<div class="container-column">
				<div class="ingredient-list-container">
					<h2 class="sottotitolo">Ingredienti:</h2>
					<ul class="list-group" style="width: 20%;">
						<li class="list-group-item d-flex justify-content-between align-items-center"
							th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient}"></li>
					</ul>
				</div>
				<div class="difficulty-container">
					<h2 class="sottotitolo">Difficoltà:</h2>
					<div class="difficulty-text">
						<h2 th:text="${recipe.difficulty}"></h2><h2>/3</h2>
					</div>
					<div th:if="${recipe.chef}">
						<h2 class="sottotitolo" style="margin-top: 5%;">Chef:</h1>
						<p th:text="${recipe.chef.name} + ' ' + ${recipe.chef.lastname}">nome e cognome Chef</p>
					</div>
				</div>
			</div>
			<div style="margin-left: 5%;">
				<h2 id="sottotitolo-descrizione">Descrizione ricetta:</h1>
				<p th:text="${recipe.description}"></p>
			</div>
			
			<!--REVIEWS-->
			<div th:if="${review != null}">
				<h2 id="review-title">Scrivi una recensione per questa ricetta</h2>
				<form th:action="@{'/user/review/' + ${recipe.id}}" th:object="${review}" method="post" id="review">
			
			
					<label style="font-weight: bolder;">Titolo:</label>
					<input type="text" th:field="*{title}" class="input-text form-control">
					<label style="font-weight: bolder;">Testo:</label>
					<textarea type="text" rows="4" id="text" placeholder="Inserisci il testo della recensione"
						class="form-control description" th:field="*{text}" autocomplete="off"></textarea>
					<label style="font-weight: bolder;">Rating:
						<select th:field="*{rating}" class="input-select">
							<option th:value="1" th:text="1"></option>
							<option th:value="2" th:text="2"></option>
							<option th:value="3" th:text="3"></option>
							<option th:value="4" th:text="4"></option>
							<option th:value="5" th:text="5"></option>
						</select>
					</label>
					<div class="btn-container">
						<button type="submit" class="btn">Submit</button>
					</div>
					<span class="danger" th:if="${reviewError}" th:text="${reviewError}"></span>
				</form>
			</div>
			<!-- REVIEW LIST -->
			<div th:if="${not #lists.isEmpty(recipe.reviews)}">
				<h2 id="review-title">Leggi tutte le recensioni</h2>
				<!-- SINGLE REVIEW-->
				<ul class="list-group" style="width: 80%; margin-left: 10%;">
					<li class="list-group-item d-flex" style="flex-direction: column!important;"
						th:each="review : ${recipe.reviews}">
						<div class="review-title-line">
							<h2 th:text="${review.title}" style="color: olivedrab!important;">Titolo</h2>
						</div>
						<div>
							<div th:text="'-' + ${review.author}" style="margin-top: -1%; margin-bottom: 3%; font-weight: lighter;">Author username</div>
							<span th:if="${admin}" ><a style="float: right;" th:href="@{'/admin/deleteReview/' + ${recipe.id} + '/' + ${review.id}}" class="icon"><i class="bi bi-trash"></i></a></span>
						</div>
						
						<div class="review-text" th:text="${review.text}" style="margin-bottom: 2%;">Review Text</div>
						<div>
							<span style="color: olivedrab;">Rating: </span>
							<span th:text="${review.rating}" style="font-weight: bolder;">5</span></div>
			
			
					</li>
				</ul>
			
			</div>
			
			</div>
</body>
</html>